*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 40%;
  top: 50%;
  left: 50%;

  border-radius: 10px;
  min-width: 450px;
  position: absolute;
  min-height: 100px;
  transform: translate(-50%, -50%);
}

#add {
  position: relative;
  padding: 30px 20px;
}
#add input {
  margin-left: 2rem;
  width: 75%;
  height: 45px;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: 2px solid #d1d3d4;
}

#add input:focus {
  outline: none;
  border-color: #0d75ec;
}
#add button {
  position: relative;
  margin-left: 1rem;
  font-weight: 500;
  font-size: 16px;
  background-color:#2e322e;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  width: 5%;
  height: 45px;
  border-radius: 11%;
  font-family: "Poppins", sans-serif;
}

#tasks {
  border-radius: 10px;
  width: 80%;
  position: relative;
 
  padding: 30px 20px;
  margin-top: 10px;
  margin-left: 3rem;
}

.task {
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #939697;
  cursor: pointer;
  background-color: #fbfbfe;
  height: 36px;
  margin-bottom: 8px;
  padding: 30px 10px;
  display: flex;
}
.task span {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
}


#set-heading {
  font-size: 55px;
  font-family: "Times New Roman", Times, serif;
  margin: 2rem 0rem 2rem 33rem;
}

body {
  height: 100vh;
 
}
